
<h2>Edit <%= "#{@book.title}" %></h2>

<%= render partial: '/layouts/form_errors', locals: {model: @book} %>

<%= form_for @book, url: admin_book_path(@book) do |f| %>

  <%= render partial: 'books', locals: {f: f} %>

  <%= f.submit %><br>
<% end %>
<br><hr><br>
<%= link_to "Delete", admin_book_path(@book), action: :destroy, method: :delete, data: {confirm: "Really delete #{@book.title}?" } %>
