
<h2>Edit Book</h2>

<%= form_for @book, url: admin_book_path(@book) do |f| %>
  title: <%= f.text_field :title%><br>
  description: <%= f.text_area :description %><br>
  word_count: <%= f.number_field :word_count %><br>
  status: <%= f.text_field :status %><br>
  author: <%= f.collection_radio_buttons :author_id, Author.all, :id, :name %><br>
  <%= f.submit %><br>
<% end %>
