<h1>Login</h1>

<%= link_to 'Log in', sessions_login_path %><br><br>
<%= link_to 'Login with Google Mail', user_google_oauth2_omniauth_callback_path %><br><br>
<%= link_to 'Login with Tumblr works!', user_tumblr_omniauth_callback_path %><br><br>
<%= link_to 'Login with Twitter', user_twitter_omniauth_callback_path %><br><br>
<%= link_to 'Login with Github', user_github_omniauth_callback_path %><br><br>
