<h1><%= @author.name %></h1>
<%= link_to "Edit this author", edit_admin_author_path(@author) if is_admin? %>

<br>

<% if is_admin? %>

  <ul>
  <% @books.each do |book| %>
    <li>
      <p><%= "#{book.title}" %>    -    <%= link_to "Show", book_path(book) %>  <%= link_to "Edit", edit_admin_book_path(book) %></p>
    </li>
  <% end %>
  </ul>

<% else %>

  <ul>
  <% @books.each do |book| %>
    <li>
      <p><%= link_to "#{book.title}", book_path(book) %></p>
    </li>
  <% end %>
  </ul>

<% end %>
