<h1><%= @author.name %></h1>
<%= link_to "Edit this author", edit_admin_author_path(@author) %>

<br><br>

<% if is_admin? %>

  <ul>
  <% @books.each do |book| %>
    <li>
      <p><%= link_to "#{book.title}", book_path(book) %></p>
      <p><%= link_to "Edit #{book.title}", edit_admin_book_path(book) %></p>
    </li>
  <% end %>
  </ul>

<% else %>

  <ul>
  <% @books.each do |book| %>
    <li>
      <p><%= link_to "#{book.title}", book_path(book) %></p>
    </li>
  <% end %>
  </ul>

<% end %>
