<div id="author-header" data-id='<%= @author.id %>'></div>
<div id="edit-author" data-admin='<%= is_admin? %>'></div>



<br>

<% if is_admin? %>

  <ul>
  <% @books.each do |book| %>
    <li>
      <p><%= "##{book.number}: #{book.title}" %>    -    <%= link_to "Show", book_path(book) %>  <%= link_to "Edit", edit_admin_book_path(book) %></p>
    </li>
  <% end %>
  </ul>

  <% else %>

  <ul class='show-books'></ul>


<% end %>


<script id="book-template" type="text/x-handlebars-template">

  {{#each this}}
  <li>
    <a class="book" data-id={{id}} href="/books/{{{id}}}">{{title}}</a>
  </li>
  <br>
  {{/each}}

</script>

<%= javascript_include_tag 'show_author' %>
