<h1>Edit <%= @user.name %></h1>

<%= render partial: '/layouts/form_errors', locals: {model: @user} %>

<h3><%= @user.email%></h3>

<%= form_for @user do |f| %>

  <%= render partial: '/users/users', locals: {f: f} %>

  <%= f.submit %><br>
<% end %>
