

<h2>Book List</h2>

<% if is_admin? %>

  <button class="create-btn">Create New Book</button>

  <div class='create-book-form' style="display:none">
    <h1>Create New Book</h1>

    <%= render partial: '/layouts/form_errors', locals: {model: @book} %>

    <%= form_for @book, :url => admin_books_path do |f| %>

      <%= render partial: '/admin/books/books', locals: {f: f} %>
      <hr>
      <%= f.submit %>

    <% end %>

    <button id="clear-form">Clear Form</button>

    <br>
  </div>

<% end %>

<h3>Filter posts:</h3>
  <%= form_tag("/books", method: "get") do %>
    <%= select_tag "status", options_for_select(["Available", "Checked Out", "All"]), include_blank: false %>
    <%= submit_tag "Filter" %>
  <% end %>

<ul id="book-list">

  <h4 id='filter' data-filter='<%=@filter_label%>'><%= "#{@filter_label} Books" %></h4>
    <br><hr><br>

<div class='.books'>

<% @books.each do |book| %>
  <li data-id=<%= book.id %> >
    <p><%= link_to "#{book.title}", book_path(book) %> <%= " - #{book.status}" if @filter_label == "All" %></p>
    <div class="show-book" data-id="<%=book.id%>" ></div>
  </li>
<% end %>

</div>

</ul>

<script id="book-template" type="text/x-handlebars-template">
  <li data-id={{id}}>
    <p><a href="/books/" + {{id}}>{{title}}</a></p>
</script>
