<h2>Book List</h2>

<h3>Filter posts:</h3>
  <%= form_tag("/books", method: "get") do %>
    <%= select_tag "status", options_for_select(["Available", "Checked Out", "All"]), include_blank: false %>
    <%= submit_tag "Filter" %>
  <% end %>
<ul>

  <h4><%= "#{@filter_label} Books" %>
    <br><hr><br>

<% @books.each do |book| %>
  <li>
    <%= link_to "#{book.title}", book_path(book) %> - <%= "#{book.status}" %>
  </li>
<% end %>
