<h2>Book List</h2>

<h3>Checked Out Books</h3>
<ul>
<% @checked_out.each do |book| %>
  <li>
    <%= link_to "#{book.title}", book_path(book) %> - <%= "#{book.status}" %>
  </li>
<% end %>
</ul>

<h3>Unread Books</h3>
<ul>
<% @not_read.each do |book| %>
  <li>
    <%= link_to "#{book.title}", book_path(book) %> - <%= "#{book.status}" %>
  </li>
<% end %>
</ul>

<h3>Read Books</h3>
<ul>
<% @read.each do |book| %>
  <li>
    <%= link_to "#{book.title}", book_path(book) %> - <%= "#{book.status}" %>
  </li>
<% end %>
</ul>
