<h1><%= @book.title %></h1>

<h3>By: <%= @book.author.name %></h3>
<h3><%= @book.description %></h3>
<h3>Word Count: <%= @book.word_count %></h3>
<h3>Library Status: <%= @book.status %></h3>

<%= form_for @book, action: :update do |f| %>

  <%= render partial: 'button', locals: {:f => f, :userbook => @userbook, :msg => @button } if !!@button %>

<% end %>

<br>

<% if is_admin? %>
  <%= link_to "Edit Book", edit_admin_book_path(@book) %><br>
  <%= link_to "Edit Author", edit_admin_author_path(@book.author) %>
<% end %>
