<%= render partial: '/layouts/form_errors', locals: {model: @user} %>

<h2>Edit <%= @user.name %></h2>

<h4><%= @user.email %> </h4>

<%= form_for @user, :url => admin_user_path(@user) do |f| %>

  <%= render partial: '/users/users', locals: {f: f} %>

  Admin: <%= f.check_box :admin %><br>

 <%= f.submit %><br>
<% end %>
